* {
  box-sizing: border-box;
}

.macBookPro142 {
  display: flex;
  position: relative;
  align-items: flex-start;
  background: #f2f6fa;
  padding: 24px 58px 0px 35px;
  width: 1512px;
  height: 982px;
  overflow: hidden;

  .activity {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  .rectangle22009 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 26px;
    box-shadow: 0px 4px 59px 0px #32324708;
    background: #ffffff80;
    padding: 40px 38px 29px 24px;

    .mailchimp {
      position: absolute;
      top: 34px;
      left: 44px;
      flex-shrink: 0;
      width: 56px;
      height: 15px;
      line-height: 15px;
      letter-spacing: 0.25px;
      color: #373b5cb2;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 500;
    }

    .sendEmail {
      flex-shrink: 0;
      width: 25px;
      height: 25px;
    }

    .aOptimiseoperations3 {
      position: absolute;
      top: 34px;
      left: 41px;
      flex-shrink: 0;
      width: 114px;
      height: 15px;
      line-height: 15px;
      letter-spacing: 0.25px;
      color: #373b5cb2;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 500;
    }

    .instagram2 {
      line-height: 26px;
      letter-spacing: 0.25px;
      color: #373b5c;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 17px;
      font-weight: 500;
    }

    .instagram {
      flex-shrink: 0;
      width: 22px;
      height: 25px;
    }

    .optimiseLogo2 {
      margin-left: 9px;
      width: 146px;
      height: 36px;
    }

    .group1000002786 {
      position: relative;
      margin-top: 35px;
      width: 206px;
      height: 60px;

      .rectangle22010 {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 14px;
        background: #156ddb;
        width: 201px;
        height: 60px;
      }

      .sidebarItemTrueFalse {
        display: flex;
        position: absolute;
        top: 10px;
        left: 5px;
        align-items: center;
        column-gap: 10px;
        border-radius: 6px;
        padding: 8px;
        width: 201px;
        height: 39px;

        .ratings {
          flex-shrink: 0;
          width: 34px;
          height: 33px;
        }

        .marketingDashboard {
          flex-shrink: 0;
          width: 98px;
          line-height: 18px;
          letter-spacing: 0.25px;
          color: #ffffff;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 17px;
          font-weight: 500;
        }
      }
    }

    .sidebarItemTrueFalse2 {
      display: flex;
      align-items: center;
      column-gap: 8px;
      margin-top: 14px;
      margin-left: 5px;
      border-radius: 6px;
      padding: 8px;
      width: 201px;

      .analytics {
        flex-grow: 1;
        align-self: stretch;
        width: 142px;
        height: 24px;
        letter-spacing: 0.25px;
        color: #373b5c;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 600;
      }

      .ellipse118 {
        flex-shrink: 0;
        border-radius: 50%;
        background: #082567;
        width: 5px;
        height: 5px;
      }
    }

    .group1000002785 {
      position: relative;
      margin-top: 34px;
      margin-left: 9px;
      width: 167px;
      height: 28px;

      .yourServices {
        position: absolute;
        top: 0;
        left: 0;
        width: 167px;
        height: 28px;
        letter-spacing: 0;
        color: #373b5cb2;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .arrow1 {
        position: absolute;
        top: 12px;
        left: 107px;
        width: 1px;
        height: 1px;
        rotate: 90deg;
      }
    }

    .sidebarItemTrueFalse4 {
      display: flex;
      position: relative;
      align-items: center;
      column-gap: 8px;
      margin-top: 4px;
      margin-left: 5px;
      border-radius: 6px;
      padding: 8px;
      width: 201px;
      height: 39px;

      .sidebarItemTrueFalse3 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 6px;
        padding-right: 14px;
        padding-left: 4px;
      }

      .aOptimiseoperations {
        position: absolute;
        top: 49px;
        left: 41px;
        flex-shrink: 0;
        width: 114px;
        height: 15px;
        line-height: 15px;
        letter-spacing: 0.25px;
        color: #373b5cb2;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: 500;
      }

      .aOptimiseoperations2 {
        position: absolute;
        top: 34px;
        left: 41px;
        flex-shrink: 0;
        z-index: 1;
        width: 114px;
        height: 15px;
        line-height: 15px;
        letter-spacing: 0.25px;
        color: #373b5cb2;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: 500;
      }
    }

    .sidebarItemTrueFalse6 {
      display: flex;
      position: relative;
      align-items: center;
      column-gap: 8px;
      margin-top: 32px;
      margin-left: 5px;
      border-radius: 6px;
      padding: 8px;
      width: 201px;
      height: 39px;

      .facebook {
        flex-shrink: 0;
        width: 22px;
        height: 35px;
      }

      .sidebarItemTrueFalse5 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 6px;
        padding-right: 20px;
        padding-left: 4px;
      }
    }

    .sidebarItemTrueFalse8 {
      display: flex;
      position: relative;
      align-items: center;
      column-gap: 8px;
      margin-top: 18px;
      margin-left: 5px;
      border-radius: 6px;
      padding: 8px;
      width: 201px;
      height: 39px;

      .sidebarItemTrueFalse7 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 6px;
        padding-right: 29px;
        padding-left: 4px;
      }
    }

    .sidebarItemTrueFalse10 {
      display: flex;
      position: relative;
      align-items: center;
      column-gap: 8px;
      margin-top: 18px;
      margin-left: 5px;
      border-radius: 6px;
      padding: 8px;
      width: 201px;
      height: 39px;

      .sidebarItemTrueFalse9 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 6px;
        padding-right: 48px;
        padding-left: 4px;
      }
    }

    .sidebarItemTrueFalse12 {
      display: flex;
      position: relative;
      align-items: center;
      column-gap: 8px;
      margin-top: 18px;
      margin-left: 7px;
      border-radius: 6px;
      padding: 8px;
      width: 201px;
      height: 39px;

      .sidebarItemTrueFalse11 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 6px;
        padding-right: 69px;
        padding-left: 4px;
      }
    }

    .logoP51Png1 {
      margin-top: 187px;
      margin-left: 14px;
      width: 99px;
      height: 21px;
    }

    .group1000002719 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin: 28px 70px 0px 9px;
      min-width: 129px;
      height: 32px;

      .mdiCogOutline {
        width: 32px;
        height: 32px;
        overflow: hidden;
      }

      .text {
        line-height: 27px;
        letter-spacing: 0;
        color: var(--Greys-Blue-Grey-700, #737791);
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }
    }

    .group1000002720 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin: 17px 67px 0px 9px;
      padding-top: 1px;

      .signOutIcon {
        margin-left: -1px;
        width: 32px;
        height: 32px;
        rotate: 90deg;
      }

      .signOut {
        margin: 0px 0px 0px 24px;
        line-height: 27px;
        letter-spacing: 0;
        color: var(--Greys-Blue-Grey-700, #737791);
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }
    }
  }

  .rectangle22011 {
    position: absolute;
    top: 413px;
    left: 707px;
    border: 1px solid #0095ff;
    border-radius: 26px;
    box-shadow: 0px 4px 59px 0px #32324708;
    background: #ffffff80;
    width: 119px;
    height: 36px;
  }

  .frame966 {
    display: flex;
    position: absolute;
    top: 422px;
    left: 720px;
    align-items: center;
    column-gap: 7px;
    width: 103px;
    height: 17px;

    .plusMath {
      flex-shrink: 0;
      width: 13px;
      height: 13px;
    }

    .addNew {
      flex-shrink: 0;
      width: 83px;
      letter-spacing: 0;
      color: #272830;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 500;
    }
  }

  .autoWrapper6 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    z-index: 1;
    margin-top: 2px;
    margin-left: 10px;

    .calendar {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      overflow: hidden;
    }

    .frame451 {
      display: inline-flex;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;
      margin-right: 879px;
      border-radius: 8px;
      background: #ffffff0d;
      padding-right: 24px;
      padding-left: 24px;

      .frame458 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 4px;
        border-width: 0px 0px 1px;
        border-style: solid;
        border-color: #082567;
        padding: 4px 8px 3px;

        .ratings2 {
          flex-shrink: 0;
          width: 20px;
          height: 19px;
        }

        .overview {
          flex-shrink: 0;
          line-height: 17px;
          letter-spacing: 0;
          color: #082567;
          font-family: Montserrat, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .frame452 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 4px;
        opacity: 0.5;
        border-radius: 5px;
        padding: 4px 8px;
        width: 97px;

        .calendar2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 85px;
          height: 24px;
          letter-spacing: 0;
          color: #272830;
          font-family: Montserrat, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }
    }

    .anyWorkYouNeedAnyQue {
      position: absolute;
      top: 185px;
      left: 267px;
      width: 628px;
      height: 259px;
      text-align: center;
      letter-spacing: 0;
      color: #373b5c;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }

    .rectangle220102 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 23px;
      margin-left: 24px;
      border-radius: 26px;
      box-shadow: 0px 4px 59px 0px #32324708;
      padding: 35px 244px 209px 243px;
      background-image: linear-gradient(
        0deg,
        #ffffff80 27.43%,
        #0095ff21 269.03%
      );

      .whatSOnYourMind {
        width: 628px;
        height: 24px;
        text-align: center;
        letter-spacing: 0;
        color: #373b5c;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-weight: 600;
      }
    }

    .frame965 {
      display: flex;
      position: absolute;
      top: 255px;
      left: 89px;
      align-items: flex-start;
      column-gap: 24px;
      width: 997px;
      height: 40px;
      overflow: hidden;

      .searchInput {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 10px;
        border: 1px solid var(--default-base-back_dark, #c4c4c4);
        border-radius: 8px;
        padding: 9px 107px 9px 19px;
        width: 736px;
        height: 40px;

        .search {
          flex-shrink: 0;
          line-height: 19px;
          letter-spacing: 0.1px;
          color: var(--default-base-back_dark, #c4c4c4);
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
        }
      }

      .frame936 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: flex-start;
        column-gap: 10px;

        .button {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border-radius: 8px;
          background: #4d7cfe;
          padding: 10px 108px;
          width: 187px;
          height: 40px;

          .invite {
            flex-shrink: 0;
            line-height: 23px;
            letter-spacing: 0.15px;
            color: var(--font-default-w, #ffffff);
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 500;
          }
        }

        .icDots1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          border-radius: 8px;
          background: var(--button-simple, #f6f6f6);
          padding: 11px 19px 10px 18px;
          overflow: hidden;

          .ellipse38 {
            border-radius: 50%;
            background: var(--base-primary-1, #0832de);
            width: 3px;
            height: 3px;
          }

          .ellipse39 {
            margin-top: 5px;
            border-radius: 50%;
            background: var(--base-primary-1, #0832de);
            width: 3px;
            height: 3px;
          }
        }
      }
    }

    .frame491 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      z-index: 1;
      margin-top: 33px;
      margin-left: 50px;
      width: 320px;

      .yourServices2 {
        flex-shrink: 0;
        align-self: stretch;
        letter-spacing: 0;
        color: #272830;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 500;
      }

      .snapshotsOfAllOfYour {
        flex-shrink: 0;
        width: 545px;
        height: 18px;
        letter-spacing: 0;
        color: #272830;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 300;
      }
    }

    .autoWrapper5 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 32px;
      padding-right: 453px;
      padding-left: 24px;

      .aParallel51 {
        margin: 10px 0px 0px;
        width: 176px;
        height: 24px;
        letter-spacing: 0;
        color: #373b5c;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
      }

      .frame468 {
        display: flex;
        position: absolute;
        top: 16px;
        left: 16px;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        border-radius: 8px;
        background: #f4f6fc38;
        width: 342px;
        height: 26px;

        .impressions {
          flex-shrink: 0;
          line-height: 18px;
          letter-spacing: 0.25px;
          color: #272830;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }

        .frame510 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border-width: 0px 0px 1px;
          border-style: solid;
          border-color: #272830;
          padding: 4px 4px 3px;
          width: 59px;

          .reach {
            flex-shrink: 0;
            line-height: 18px;
            letter-spacing: 0.25px;
            color: #272830;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }

        .frame511 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          opacity: 0.5;
          padding: 4px;
          width: 94px;
        }

        .frame512 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          opacity: 0.5;
          padding: 4px;
          width: 105px;
        }

        .moreCircle {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          justify-content: flex-end;
          column-gap: 10px;
          opacity: 0.75;
          background: #00000000;
          padding: 2px;
          width: 46px;

          .frame666 {
            flex-shrink: 0;
            width: 17px;
            height: 13px;
          }
        }
      }

      .frame459 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        justify-content: center;
        column-gap: 8px;
        border-radius: 16px;
        box-shadow: 0px 4px 103px 0px #32324703, 0px 4px 59px 0px #3232470f;
        background: #ffffff80;
        padding: 16px;
        width: 154px;
        height: 75px;
      }

      .frame4583 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        justify-content: center;
        column-gap: 8px;
        border-radius: 16px;
        box-shadow: 0px 4px 103px 0px #32324703, 0px 4px 59px 0px #3232470f;
        background: #ffffff80;
        padding: 16px;
        width: 141px;
        height: 75px;
      }

      .frame460 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        justify-content: center;
        column-gap: 8px;
        border-radius: 16px;
        box-shadow: 0px 4px 103px 0px #32324703, 0px 4px 59px 0px #3232470f;
        background: #ffffff80;
        padding: 16px;
        width: 104px;
        height: 74px;
      }

      .group39767 {
        position: absolute;
        top: 34px;
        left: -67px;
        width: 416px;
        height: 341px;

        .frame465 {
          display: inline-flex;
          position: absolute;
          top: 21px;
          left: 83px;
          flex-direction: column;
          align-items: flex-start;
          width: 239px;
          height: 63px;
          row-gap: 10px;

          .a105M {
            flex-shrink: 0;
            width: 239px;
            height: 33px;
            letter-spacing: 0.33px;
            color: #272830;
            font-family: Montserrat, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 30px;
            font-weight: 700;
          }

          .frame464 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 3px;
            margin-right: 177px;

            .a25 {
              flex-shrink: 0;
              line-height: 20px;
              letter-spacing: 0.25px;
              color: #0095ff;
              font-family: Montserrat, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 600;
            }

            .autoWrapper {
              position: relative;
              flex-shrink: 0;
              width: 11px;
              height: 12px;

              .shape {
                position: absolute;
                top: 1px;
                left: -1px;
                width: 12px;
                height: 11px;
                rotate: -90deg;
              }
            }
          }
        }

        .group39766 {
          position: absolute;
          top: 0;
          left: 0;
          width: 416px;
          height: 273px;
        }

        .frame463 {
          position: absolute;
          top: 98px;
          left: 258px;
          width: 8px;
          height: 244px;
        }

        .othersTooltip {
          position: absolute;
          top: 59px;
          left: 239px;
          width: 46px;
          height: 38px;

          .rectangle101 {
            position: absolute;
            top: 2px;
            left: -1px;
            opacity: 0.9;
            border-radius: 8px;
            background: #e8eff7;
            width: 46px;
            height: 30px;
          }

          .rectangle102 {
            position: absolute;
            top: 30px;
            left: 20px;
            width: 5px;
            height: 5px;
            rotate: 45deg;
          }

          .a23May {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 36px;
            height: 9px;
            text-align: center;
            letter-spacing: 0.25px;
            color: #08256780;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 8px;
          }

          .a305K {
            position: absolute;
            top: 12px;
            left: 4px;
            width: 36px;
            height: 14px;
            text-align: center;
            letter-spacing: 0.25px;
            color: #082567;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 600;
          }
        }
      }

      .autoWrapper2 {
        position: relative;
        width: 317px;
        height: 529px;

        .rectangle22012 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: flex-start;
          justify-content: space-between;
          border-radius: 26px;
          box-shadow: 0px 4px 59px 0px #32324708;
          background: #ffffff80;
          padding: 21px 25px 458px 28px;
          width: 317px;
          height: 529px;

          .instagram3 {
            width: 44px;
            height: 50px;
          }
        }

        .frame523 {
          display: flex;
          position: absolute;
          top: 39px;
          right: -3px;
          flex-wrap: wrap;
          align-content: center;
          align-items: center;
          column-gap: 9px;
          width: 294px;
          height: 250px;
          row-gap: 9px;

          .frame4582 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;

            .likes {
              flex-shrink: 0;
              width: 98px;
              height: 20px;
              letter-spacing: 0.25px;
              color: #272830;
              font-family: Montserrat, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }

            .a95K {
              flex-shrink: 0;
              width: 98px;
              height: 29px;
              letter-spacing: 0.25px;
              color: #272830;
              font-family: Montserrat, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 600;
            }
          }
        }

        .frame496 {
          position: absolute;
          top: 262px;
          left: 26px;
          border-radius: 16px;
          box-shadow: 0px 4px 103px 0px #32324703, 0px 4px 59px 0px #3232470f;
          background: #ffffff80;
          width: 266px;
          height: 218px;
          overflow: hidden;
        }
      }

      .autoWrapper4 {
        position: relative;
        width: 317px;
        height: 529px;

        .rectangle22013 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          flex-direction: column;
          align-items: flex-start;
          border-radius: 26px;
          box-shadow: 0px 4px 59px 0px #32324708;
          background: #ffffff80;
          padding: 21px 25px 49px 26px;
          width: 317px;
          height: 529px;

          .autoWrapper3 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            justify-content: space-between;
            padding-right: 12px;
            padding-left: 2px;

            .sendEmail2 {
              width: 39px;
              height: 39px;
            }
          }

          .frame968 {
            position: relative;
            margin-top: 202px;
            border-radius: 16px;
            box-shadow: 0px 4px 103px 0px #32324703, 0px 4px 59px 0px #3232470f;
            background: #ffffff80;
            width: 266px;
            height: 218px;
            overflow: hidden;
          }
        }

        .frame967 {
          display: flex;
          position: absolute;
          top: 81px;
          right: -3px;
          flex-wrap: wrap;
          align-content: center;
          align-items: center;
          column-gap: 9px;
          width: 294px;
          height: 181px;
          row-gap: 9px;
        }
      }
    }
  }
}
