* {
  box-sizing: border-box;
}

.macBookPro144 {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  background: #ffffff;
  padding: 30px;
  width: 1512px;
  height: 982px;
  overflow: hidden;

  .frame969 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    border-radius: 33px;
    background: #f7f7f7;
    padding: 60px 35px 222px;
    overflow: hidden;

    .frame973 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      min-width: 214px;

      .myOptimiseLogo1 {
        flex-shrink: 0;
        width: 168px;
        height: 31px;
      }

      .symbol {
        flex-shrink: 0;
        width: 23px;
        height: 18px;
        text-align: center;
        letter-spacing: 0;
        color: var(--Miscellaneous-Sidebar-Text---Selected, #007aff);
        font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 700;
      }
    }

    .frame9762 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-top: 40px;

      .schedule {
        flex-shrink: 0;
        width: 91px;
        height: 24px;
        letter-spacing: 0;
        color: #00000080;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
      }

      .symbol4 {
        flex-shrink: 0;
        width: 23px;
        height: 18px;
        text-align: center;
        letter-spacing: 0;
        color: #919191;
        font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 700;
      }

      .mEnu {
        width: 214px;
        height: 19px;
        letter-spacing: 0;
        color: #00000080;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
      }

      .frame974 {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 12px;
        border-radius: 45px;
        background: #dfefff;
        padding: 10px 25px;
        width: 214px;

        .symbol2 {
          flex-shrink: 0;
          width: 23px;
          height: 18px;
          text-align: center;
          letter-spacing: 0;
          color: var(--Miscellaneous-Sidebar-Text---Selected, #007aff);
          font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-weight: 700;
        }

        .dashboard {
          flex-shrink: 0;
          width: 91px;
          height: 24px;
          text-align: center;
          letter-spacing: 0;
          color: #000000cc;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-weight: 500;
        }
      }

      .frame975 {
        display: flex;
        position: relative;
        align-items: center;
        column-gap: 10px;
        margin-top: 12px;
        padding: 10px;
        width: 214px;

        .group1000002789 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: space-between;
          width: 91px;
          min-width: 91px;
          height: 24px;

          .symbol3 {
            width: 23px;
            height: 18px;
            text-align: center;
            letter-spacing: 0;
            color: #919191;
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 700;
          }

          .tasks {
            width: 58px;
            height: 24px;
            letter-spacing: 0;
            color: #00000080;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
          }
        }

        .frame5 {
          flex-shrink: 0;
          border-radius: 78px;
          background: #4d7cfe;
          width: 23px;
          height: 24px;
        }

        .a1 {
          display: flex;
          position: absolute;
          top: -6px;
          left: 77px;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: 91px;
          height: 56px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }
      }

      .frame976 {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 12px;
        padding: 10px;
        width: 214px;
      }

      .frame982 {
        display: flex;
        align-items: center;
        column-gap: 20px;
        margin-top: 12px;
        padding: 10px;
        width: 214px;
      }

      .gEneral {
        margin: 27px 0px 0px;
        width: 214px;
        height: 19px;
        letter-spacing: 0;
        color: #00000080;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
      }
    }
  }

  .frame9723 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    width: 1149px;
    min-width: 1149px;
    height: 922px;

    .frame970 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      border-radius: 33px;
      background: #f7f7f7;
      padding: 15px 27px;
      overflow: hidden;

      .frame972 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        border-radius: 33px;
        background: #ffffff;
        padding: 10px;
        width: 300px;
        min-width: 300px;
        height: 57px;
        overflow: hidden;

        .frame986 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: space-between;
          padding: 10px 10px 10px 11px;
          width: 190px;
          min-width: 190px;
          height: 41px;

          .symbol5 {
            width: 23px;
            height: 18px;
            text-align: center;
            letter-spacing: 0;
            color: var(--Miscellaneous-Sidebar-Text---Selected, #007aff);
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 700;
          }

          .searchCommand {
            width: 136px;
            height: 21px;
            letter-spacing: 0;
            color: #00000080;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
          }
        }

        .frame9742 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 10px;
          border-radius: 33px;
          background: #e0e0e0;
          padding: 10px;
          width: 62px;
          height: 29px;
          overflow: hidden;

          .autoWrapper {
            position: relative;
            flex-shrink: 0;
            width: 40px;
            height: 17px;

            .m {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 17px;
              letter-spacing: 0;
              color: #00000080;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 18px;
              rotate: -180deg;
            }
          }
        }
      }

      .group1000002787 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        width: 447px;
        min-width: 447px;
        height: 57px;

        .frame9862 {
          display: flex;
          align-items: center;
          border-radius: 33px;
          background: #ffffff;
          padding: 20px 17px;

          .symbol6 {
            width: 23px;
            height: 18px;
            text-align: center;
            letter-spacing: 0;
            color: #69737e;
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 700;
          }
        }

        .frame9752 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 33px;
          padding: 10px;
          width: 57px;
          height: 57px;
          overflow: hidden;
        }

        .frame987 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          height: 49px;

          .tommasoMauriello {
            flex-shrink: 0;
            align-self: stretch;
            width: 246px;
            height: 23px;
            letter-spacing: 0;
            color: #000000;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 600;
          }

          .tommasoOptimiseopera {
            flex-shrink: 0;
            align-self: stretch;
            width: 246px;
            height: 22px;
            letter-spacing: 0;
            color: #00000080;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 500;
          }
        }
      }
    }

    .frame9722 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      border-radius: 33px;
      background: #f7f7f7;
      padding: 20px 35px;
      height: 168px;
      overflow: hidden;

      .frame993 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;

        .saturday13December20 {
          flex-shrink: 0;
          align-self: stretch;
          letter-spacing: -0.8px;
          color: #00000099;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
        }

        .frame990 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          height: 42px;

          .goodMorningTommaso3 {
            flex-shrink: 0;
            align-self: stretch;
            letter-spacing: -0.8px;
            color: #000000;
            font-size: 30px;

            .goodMorningTommaso {
              letter-spacing: -0.8px;
              color: #000000;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 30px;
              font-weight: 500;
            }

            .goodMorningTommaso2 {
              letter-spacing: -0.8px;
              color: #000000;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 30px;
            }
          }
        }

        .frame992 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          padding-right: 85px;

          .symbol7 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 13px;
            height: 18px;
            letter-spacing: 0;
            color: #648cfe;
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 10px;
            font-weight: 700;
          }

          .youHave3TasksDueToda3 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0px 0px 0px 15px;
            width: 245px;
            height: 35px;
            letter-spacing: -0.8px;
            color: #000000;
            font-size: 18px;

            .youHave3TasksDueToda {
              letter-spacing: -0.8px;
              color: #000000b2;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 18px;
            }

            .youHave3TasksDueToda2 {
              letter-spacing: -0.8px;
              color: #648cfe;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 18px;
              font-weight: 600;
            }
          }

          .goToTasks {
            display: flex;
            align-items: center;
            width: 80px;
            height: 35px;
            letter-spacing: -0.8px;
            color: #648cfe;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }

      .frame995 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        width: 641px;

        .checkForUpdatedData2 {
          flex-shrink: 0;
          align-self: stretch;
          width: 129px;
          height: 26px;
          line-height: 12px;
          letter-spacing: 0;
          color: #00000080;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
        }

        .refresh {
          flex-shrink: 0;
          line-height: 27px;
          letter-spacing: -2px;
          color: #000000;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 27px;
        }

        .autoWrapper2 {
          position: relative;
          flex-shrink: 0;
          width: 13px;
          height: 27px;

          .symbol9 {
            display: flex;
            position: absolute;
            top: 0;
            left: 1px;
            align-items: center;
            justify-content: center;
            width: 13px;
            height: 27px;
            letter-spacing: 0;
            color: var(--Miscellaneous-Sidebar-Text---Selected, #007aff);
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 700;
            rotate: -180deg;
          }
        }

        .frame9902 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          height: 27px;
        }

        .frame998 {
          display: flex;
          align-items: center;
          margin-left: -1px;
          padding-right: 1px;
          padding-left: 1px;

          .frame1000 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            background: #4d7cfe;
            padding: 36px 12px;
            width: 50px;
            height: 97px;
            row-gap: 10px;

            .symbol8 {
              flex-shrink: 0;
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
              font-weight: 800;
            }
          }
        }

        .frame1005 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin-left: 21px;
          border-radius: 20px;
          box-shadow: 0px 4px 26px 0px #00000008;
          background: #ffffff;
          padding: 13px 17px;
          height: 97px;
          row-gap: 8px;

          .frame991 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            height: 13px;

            .checkForUpdatedData {
              flex-shrink: 0;
              align-self: stretch;
              width: 133px;
              height: 26px;
              line-height: 12px;
              letter-spacing: 0;
              color: #00000080;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }
          }
        }

        .frame1002 {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: flex-end;
          column-gap: 10px;
          margin-left: 21px;
          border-radius: 20px;
          box-shadow: 0px 4px 26px 0px #00000008;
          background: #ffffff;
          padding: 41px 19px;
          width: 167px;

          .frame10052 {
            display: flex;
            flex-grow: 1;
            align-items: flex-start;
            align-self: stretch;
            padding-bottom: 5px;

            .frame9903 {
              display: flex;
              flex-grow: 1;
              align-items: center;
              justify-content: space-between;
              margin-top: -17px;
              width: 129px;
              min-width: 129px;
              height: 27px;
            }
          }

          .frame9912 {
            display: flex;
            position: absolute;
            top: 60px;
            left: 19px;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            width: 129px;
            height: 13px;
          }
        }

        .frame10053 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin-left: 21px;
          border-radius: 20px;
          box-shadow: 0px 4px 26px 0px #00000008;
          background: #ffffff;
          padding: 41px 19px;
          height: 97px;
          row-gap: 8px;

          .frame9913 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            height: 13px;
          }
        }

        .frame1004 {
          position: relative;
          margin-left: 21px;
          border-radius: 30px;
          width: 167px;
          height: 97px;

          .rectangle22019 {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 100px;
            background: #ffffff;
            width: 167px;
            height: 97px;
          }

          .frame10022 {
            display: flex;
            position: absolute;
            top: 0;
            left: -1px;
            align-items: center;
            justify-content: flex-end;
            column-gap: 10px;
            border-radius: 20px;
            background: #ffffff;
            padding: 41px 19px;
            width: 167px;
            height: 97px;

            .autoWrapper3 {
              position: relative;
              flex-shrink: 0;
              width: 13px;
              height: 16px;

              .symbol10 {
                position: absolute;
                top: 0;
                left: 1px;
                width: 13px;
                height: 16px;
                line-height: 16px;
                letter-spacing: 0;
                color: var(--Miscellaneous-Sidebar-Text---Selected, #007aff);
                font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 13px;
                font-weight: 700;
                rotate: -180deg;
              }
            }

            .frame9904 {
              display: flex;
              position: absolute;
              top: 24px;
              left: 19px;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
              width: 106px;
              height: 48px;

              .help {
                flex-shrink: 0;
                align-self: stretch;
                width: 106px;
                height: 28px;
                line-height: 27px;
                letter-spacing: -2px;
                color: #000000;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 27px;
              }
            }
          }

          .symbol11 {
            position: absolute;
            top: 15px;
            left: 135px;
            width: 13px;
            height: 67px;
            text-align: center;
            letter-spacing: 0;
            color: var(--Miscellaneous-Sidebar-Text---Selected, #007aff);
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 700;
            rotate: -180deg;
          }

          .frame9914 {
            display: flex;
            position: absolute;
            top: 56px;
            left: 19px;
            flex-direction: column;
            align-items: flex-start;
            width: 129px;
            height: 13px;

            .checkForUpdatedData3 {
              flex-shrink: 0;
              align-self: stretch;
              width: 129px;
              height: 11px;
              line-height: 12px;
              letter-spacing: 0;
              color: #00000080;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
            }
          }
        }
      }
    }

    .frame10135 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      column-gap: 10px;
      border-radius: 33px;
      background: #f7f7f7;
      padding: 5px;
      width: 1149px;
      overflow: hidden;

      .frame994 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #4d7cfe;
        border-radius: 16px;
        padding: 1px 6px 1px 10px;
        width: 87px;
        min-width: 87px;
        height: 28px;

        .viewAll {
          flex-shrink: 0;
          line-height: 18px;
          letter-spacing: -0.09px;
          color: #4d7cfe;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }

        .symbol13 {
          flex-shrink: 0;
          line-height: 13px;
          letter-spacing: 0;
          color: #3368fb;
          font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 11px;
          font-weight: 800;
        }
      }

      .autoWrapper4 {
        position: relative;
        flex-shrink: 0;
        width: 0;
        height: 26px;

        .line1 {
          position: absolute;
          top: 13px;
          left: -13px;
          border-radius: 50%;
          background: #00000080;
          width: 26px;
          height: 1px;
          rotate: 90deg;
        }
      }

      .frame9743 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        border-radius: 33px 33px 0px;
        overflow: hidden;
        row-gap: 10px;

        .a15TotalTasks {
          width: 663px;
          letter-spacing: -0.8px;
          color: #4d7cfe;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 600;
        }

        .frame9932 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: space-between;
          border-radius: 16px;
          padding: 1px 6px 1px 10px;
          width: 71px;
          min-width: 71px;
          height: 28px;

          .filter {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 29px;
            height: 28px;
            letter-spacing: -0.09px;
            color: #000000;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }

          .symbol12 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 28px;
            letter-spacing: 0;
            color: #000000;
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 11px;
            font-weight: 800;
          }
        }

        .frame9763 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          border-radius: 33px 33px 0px;
          height: 400px;
          overflow: hidden;
          row-gap: 10px;

          .frame978 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            align-self: stretch;
            border-radius: 33px 33px 0px;
            background: #ffffff;
            padding: 30px 35px 31px;
            overflow: hidden;

            .name {
              flex-shrink: 0;
              line-height: 20px;
              letter-spacing: -0.8px;
              color: #6e768a;
              font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 13px;
            }

            .frame1007 {
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              min-width: 663px;
              height: 35px;

              .frame1008 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 13px;

                .tasksList3 {
                  display: flex;
                  flex-shrink: 0;
                  flex-wrap: wrap;
                  align-items: center;
                  width: 171px;
                  height: 28px;
                  letter-spacing: -2px;
                  color: #000000;
                  font-size: 30px;

                  .tasksList {
                    letter-spacing: -2px;
                    color: #000000;
                    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 30px;
                  }

                  .tasksList2 {
                    letter-spacing: -2px;
                    color: #000000;
                    font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 30px;
                    font-weight: 200;
                  }
                }
              }
            }

            .frame1009 {
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              margin-top: 23px;
              min-width: 663px;
            }

            .frame1010 {
              display: flex;
              position: relative;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              margin-top: 9px;
              padding-top: 15px;
              padding-bottom: 15px;
              min-width: 663px;

              .line2 {
                position: absolute;
                top: 0;
                left: 0;
                flex-shrink: 0;
                border-radius: 50%;
                background: #0000004d;
                width: 663px;
                height: 1px;
              }

              .doColor {
                flex-shrink: 0;
                z-index: 1;
                line-height: 20px;
                letter-spacing: -0.8px;
                color: #6e768a;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 13px;
              }

              .frame1012 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 10px;
                z-index: 2;
                border: 1px solid #c4dbff;
                border-radius: 17px;
                background: #c4dbff;
                padding-right: 11px;
                padding-left: 11px;
                width: 92px;
                height: 28px;

                .inProgress {
                  flex-shrink: 0;
                  line-height: 17px;
                  letter-spacing: -0.8px;
                  color: #237bff;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 11px;
                  font-weight: 500;
                }
              }

              .dec31 {
                flex-shrink: 0;
                z-index: 3;
                line-height: 20px;
                letter-spacing: -0.8px;
                color: #6e768a;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 13px;
              }

              .smth {
                flex-shrink: 0;
                z-index: 4;
                line-height: 20px;
                letter-spacing: -0.8px;
                color: #6e768a;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 13px;
              }
            }

            .frame1011 {
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              padding-top: 15px;
              padding-bottom: 15px;
              min-width: 663px;

              .frame1013 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 10px;
                border: 1px solid #c8ffe1;
                border-radius: 17px;
                background: #c8ffe1;
                padding-right: 11px;
                padding-left: 11px;
                width: 92px;
                height: 28px;

                .completed {
                  flex-shrink: 0;
                  line-height: 17px;
                  letter-spacing: -0.8px;
                  color: #39af70;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 11px;
                  font-weight: 500;
                }
              }
            }

            .frame10132 {
              display: flex;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              padding-top: 15px;
              padding-bottom: 15px;
              min-width: 663px;
              filter: blur(2px);

              .doColor2 {
                flex-shrink: 0;
                line-height: 20px;
                letter-spacing: -0.8px;
                color: #6e768a80;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 13px;
              }

              .frame1014 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 10px;
                border: 1px solid #ffd6d480;
                border-radius: 17px;
                background: #ffd6d480;
                padding-right: 11px;
                padding-left: 11px;
                width: 92px;
                height: 28px;

                .notStarted {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  width: 69px;
                  height: 28px;
                  letter-spacing: -0.8px;
                  color: #e4716f80;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 11px;
                  font-weight: 500;
                }
              }
            }
          }
        }

        .frame9782 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          border-radius: 33px 0px 33px 33px;
          background: #ffffff;
          padding: 30px 35px 15px;
          overflow: hidden;

          .frame10072 {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            min-width: 663px;
            height: 35px;

            .frame10082 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 13px;

              .messages {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                width: 171px;
                height: 28px;
                letter-spacing: -2px;
                color: #000000;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 30px;
              }
            }
          }

          .frame10133 {
            display: flex;
            position: relative;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            margin-top: 23px;
            padding-top: 15px;
            padding-bottom: 15px;
            min-width: 663px;
            height: 98px;

            .line22 {
              position: absolute;
              top: 0;
              left: 0;
              flex-shrink: 0;
              border-radius: 50%;
              background: #0000004d;
              width: 598px;
              height: 1px;
            }

            .ellipse119 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              z-index: 1;
              border-radius: 50%;
              background: #c8ffe1;
              padding: 4px;

              .ellipse120 {
                border-radius: 50%;
                background: #39af70;
                width: 12px;
                height: 12px;
              }
            }

            .frame9753 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: space-between;
              z-index: 2;
              border-radius: 33px;
              padding: 10px;
              width: 57px;
              height: 57px;
              overflow: hidden;
            }

            .frame9872 {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              justify-content: center;
              z-index: 3;
              height: 49px;

              .tommaso {
                flex-shrink: 0;
                width: 89px;
                height: 23px;
                letter-spacing: 0;
                color: #000000;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 15px;
                font-weight: 600;
              }
            }

            .frame1016 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              z-index: 4;
              padding: 7px 28px;
              width: 446px;
              height: 91px;
              overflow: hidden;
              row-gap: 10px;

              .wasssssssusppppThisI {
                flex-shrink: 0;
                width: 337px;
                letter-spacing: -0.8px;
                color: #4a4f5e;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 15px;
              }
            }
          }
        }
      }

      .frame9754 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        border-radius: 33px 33px 33px 0px;
        overflow: hidden;
        row-gap: 10px;

        .frame10122 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          border-radius: 33px 33px 0px;
          background: #ffffff;
          padding: 30px 35px;
          overflow: hidden;

          .saturday13December {
            width: 326px;
            letter-spacing: -0.8px;
            color: #4d7cfe;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 600;
          }

          .frame10073 {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            min-width: 326px;

            .frame10083 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 13px;
              width: 184px;

              .schedule2 {
                flex-shrink: 0;
                width: 213px;
                letter-spacing: -2px;
                color: #000000;
                font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 30px;
              }
            }
          }

          .calendar {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
            margin-top: 11px;
            border: 1px solid #d9d9d9;
            border-radius: 16px;
            background: #ffffff;
            padding: 15px;
            height: 495px;

            .block {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              column-gap: 16px;
              z-index: 3;

              .iconButton {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                border-radius: 32px;
                padding: 8px;
                overflow: hidden;

                .chevronLeft {
                  flex-shrink: 0;
                  width: 20px;
                  height: 20px;
                  overflow: hidden;
                }
              }

              .calendarMonthField {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                row-gap: 8px;

                .select {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  align-self: stretch;
                  column-gap: 8px;
                  border-radius: 8px;
                  background: #ffffff;
                  padding: 6px;

                  .september {
                    flex-grow: 1;
                    line-height: 16px;
                    letter-spacing: 0;
                    color: #1e1e1e;
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 16px;
                  }

                  .chevronDown {
                    flex-shrink: 0;
                    width: 16px;
                    height: 16px;
                    overflow: hidden;
                  }
                }
              }
            }

            .table {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              z-index: 2;
              padding-top: 16px;

              .thead {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                justify-content: center;
                column-gap: 1px;

                .dayPicker {
                  flex-grow: 1;
                  text-align: center;
                  line-height: 20px;
                  letter-spacing: 0;
                  color: #757575;
                  font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                }
              }

              .row {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                justify-content: space-between;
                padding-right: 12px;
                padding-left: 12px;

                .dayPicker2 {
                  flex-shrink: 0;
                  padding: 9px 16px;
                  width: 40px;
                  height: 40px;
                  text-align: center;
                  line-height: 22px;
                  letter-spacing: 0;
                  color: #1e1e1e;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                }

                .calendarButton {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  border-radius: 8px;
                  background: #4d7cfe;
                  padding: 16px;
                  width: 40px;
                  height: 40px;

                  .dayPicker3 {
                    flex-shrink: 0;
                    line-height: 22px;
                    letter-spacing: 0;
                    color: #f5f5f5;
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 16px;
                  }
                }
              }
            }

            .frame979 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
              align-self: stretch;
              z-index: 1;
              border-radius: 33px 0px 33px 33px;
              background: #ffffff;
              padding: 17px 0px 8px 5px;
              overflow: hidden;

              .line23 {
                border-radius: 50%;
                background: #0000004d;
                width: 598px;
                height: 1px;
              }

              .frame1018 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;
                margin-top: 11px;
                margin-right: 5px;
                row-gap: 12px;

                .goToWork {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  width: 165px;
                  height: 23px;
                  letter-spacing: 0;
                  color: #000000;
                  font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 18px;
                  font-weight: 300;
                }

                .autoWrapper6 {
                  position: relative;
                  flex-shrink: 0;
                  width: 0;
                  height: 21px;

                  .line32 {
                    position: absolute;
                    top: 11px;
                    left: -11px;
                    width: 21px;
                    height: 1px;
                    rotate: 90deg;
                  }
                }

                .ellipse1192 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  border-radius: 50%;
                  background: #c8edff;
                  padding: 2px;

                  .ellipse1202 {
                    border-radius: 50%;
                    background: #3599e5;
                    width: 7px;
                    height: 7px;
                  }
                }

                .frame10134 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  align-self: stretch;
                  justify-content: space-between;
                  border-radius: 16px;
                  background: #1d83ff0d;
                  padding: 15px 0px 15px 20px;
                  min-width: 284px;
                  height: 97px;

                  .frame9873 {
                    display: inline-flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    align-items: flex-start;
                    justify-content: center;
                    height: 49px;

                    .a915Am {
                      flex-shrink: 0;
                      width: 59px;
                      height: 23px;
                      letter-spacing: 0;
                      color: #000000;
                      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 15px;
                      font-weight: 600;
                    }
                  }

                  .autoWrapper5 {
                    position: relative;
                    flex-shrink: 0;
                    width: 0;
                    height: 21px;

                    .line3 {
                      position: absolute;
                      top: 11px;
                      left: -10px;
                      width: 21px;
                      height: 1px;
                      rotate: 90deg;
                    }
                  }

                  .frame988 {
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    align-items: flex-start;
                    justify-content: center;
                    width: 145px;
                    height: 49px;
                  }
                }

                .frame10162 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  align-self: stretch;
                  justify-content: space-between;
                  border-radius: 16px;
                  background: #1d83ff1a;
                  padding: 15px 0px 15px 20px;
                  min-width: 284px;
                  height: 97px;

                  .frame9874 {
                    display: inline-flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    align-items: flex-start;
                    justify-content: center;
                    height: 49px;

                    .a1015Am {
                      flex-shrink: 0;
                      width: 69px;
                      height: 23px;
                      letter-spacing: 0;
                      color: #000000;
                      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 15px;
                      font-weight: 600;
                    }
                  }

                  .frame9882 {
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    align-items: flex-start;
                    justify-content: center;
                    width: 140px;
                    height: 49px;

                    .tekBrek {
                      display: flex;
                      flex-shrink: 0;
                      align-items: center;
                      width: 150px;
                      height: 23px;
                      letter-spacing: 0;
                      color: #000000;
                      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 18px;
                      font-weight: 300;
                    }
                  }
                }

                .frame1017 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  align-self: stretch;
                  justify-content: space-between;
                  border-radius: 16px;
                  background: #1d83ff26;
                  padding: 15px 0px 15px 20px;
                  min-width: 284px;
                  height: 97px;

                  .frame9875 {
                    display: inline-flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    align-items: flex-start;
                    justify-content: center;
                    height: 49px;

                    .a1515Am {
                      flex-shrink: 0;
                      width: 72px;
                      height: 23px;
                      letter-spacing: 0;
                      color: #000000;
                      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 15px;
                      font-weight: 600;
                    }
                  }

                  .frame9883 {
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    align-items: flex-start;
                    justify-content: center;
                    width: 130px;
                    height: 49px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
